:root {
  box-sizing: border-box;
  --transition-delay: 200ms;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* ----------------------------------------------------------
   Layout
   ------------------------------------------------------- */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: #000;
  background: #5599FE;
  transition: color 100ms ease,background-color 100ms ease;
}

main {
  height: 100vh;
  height: 100svh;
  user-select: none;
}

/* ----------------------------------------------------------
   Steps
   ------------------------------------------------------- */

.step {
  height: 100%;
  margin: 0;
  color: #fff;
  place-items: center;
}

.step:not([hidden]) {
  display: grid;
}

.step.step--1 {
  color: #000;
}

.step.step--2 {
  color: #fff;
}

/* ----------------------------------------------------------
   Form
   ------------------------------------------------------- */

fieldset {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-top: auto;
  margin-bottom: 30px;
  padding: 0 30px;
}

.labels {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
}

.label-wrapper {
  min-width: 48px;
  font-variant-numeric: tabular-nums;
}

label {
  display: block;
  padding: 14px 5px;
  border: 1px currentColor solid;
  border-radius: 15px;
  text-align: center;
  transition: color var(--transition-delay) ease,border-color var(--transition-delay) ease,background-color var(--transition-delay) ease;
  cursor: pointer;
}

label input {
  visibility: hidden;
  position: absolute;
}

label:hover,
label:has(input:checked) {
  color: #000;
}

label:has(input:checked) {
  background: rgba(255, 255, 255, .5);
}

.label-subtotal {
  margin-top: 5px;
  font-size: .8rem;
  font-style: italic;
}

form button {
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #fff;
  background: #447acb;
  transition: background-color var(--transition-delay) ease;
  cursor: pointer;
}

form button:hover {
  background-color: #3b6bb2;
}

/* ----------------------------------------------------------
   Footer
   ------------------------------------------------------- */

footer {
  padding: .5rem;
  text-align: center;
}

footer p {
  margin: 0;
}
