/* ----------------------------------------------------------
   Reset
   ------------------------------------------------------- */

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* ----------------------------------------------------------
   Layout
   ------------------------------------------------------- */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #000;
  background: #fff;
}

main {
  user-select: none;
  height: 100vh;
  height: 100svh;
}

/* ----------------------------------------------------------
   Steps
   ------------------------------------------------------- */

.step {
  color: #fff;
  place-items: center;
  margin: 0;
  height: 100%;
  font-size: 6rem;
  font-weight: 700;
  font-variant-numeric: tabular-nums;
}

.step:not([hidden]) {
  display: grid;
}

.step.step--0 {
  background: rgba(13, 110, 253, .7);
}

.step.step--1 {
  background: rgba(255, 193, 7, .7);
  color: #000;
}

.step.step--2 {
  background: rgba(25, 135, 84, .7);
  color: #fff;
}

/* ----------------------------------------------------------
   Footer
   ------------------------------------------------------- */

footer {
  padding: .5rem;
  text-align: center;
}


footer p {
  margin: 0;
}
